---
import Layout from "@src/layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  {
    frontmatter.description && (
      <p>
        <em>{frontmatter.description}</em>
      </p>
    )
  }
  {frontmatter.url && <a href={frontmatter.url}>{frontmatter.url}</a>}
  {frontmatter.github && <a href={frontmatter.github}>Github</a>}
  <slot />
</Layout>
